<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>MiCoach - Online Courses HTML5 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="./assets/css/index.css">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/metisMenu.css">
	<link rel="stylesheet" href="assets/css/meanmenu.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/verify.css">
	<style>
		label {
			color: aliceblue;
		}
	</style>

</head>

<body>

<!-- header-start -->
<header class="header-transparent header-transparent-02">
	<div id="sticky-header" class="main-menu-area menu-padding pl-55 pr-55">
		<div class="container custom-container">
			<div class="row align-items-center">
				<div class="col-xl-3 col-lg-6 col-md-11 col-9">
					<div class="logo">
						<a class="img-fluid" href="index.html"><img src="assets/img/logo/footer-01-logo.png"
																	alt="" /></a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 d-none d-xl-block">
					<div class="main-menu main-menu-02 ">
						<nav id="mobile-menu">
							<ul>
								<li class="active"><a href="index.html">首页</a>

								</li>
								<li><a href="#">生成简历 </a>

								</li>
								<li><a href="#">验证简历 </a>

								</li>
							</ul>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>


<main>
	<div class="course-cat-area-02 blue-dark-bg pt-130 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto mt-5">
					<div class="card">

						<div class="card-body">
							<div class="form-group row">
								<label for="login_type" class="col-sm-3 col-form-label">登入类型</label>
								<div class="col-sm-9">
									<select class="form-control" id="login_type">
										<option value="student">学生登入</option>
										<option value="institution">机构登入</option>
									</select>
								</div>
							</div>
							<div class="form-group row" id="student_login">
								<label for="student_id" class="col-sm-3 col-form-label">学生地址</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="studentAddress">
								</div>
							</div>
							<div class="form-group row" id="institution_login">
								<label for="institution_id" class="col-sm-3 col-form-label">机构地址</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="institutionAddress">
								</div>
							</div>
							<div class="form-group row">
								<label for="password" class="col-sm-3 col-form-label">密码</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="password">
								</div>
							</div>
							<div class="form-group row">
								<div class="offset-sm-3 col-sm-9">
									<button type="submit" class="btn btn-primary btn-block" id="loginBtn">登入</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>






<!-- brand-area-end -->

<footer class="footer-area pt-65 pb-45" data-background="assets/img/bg/fot-02-bg.png">
	<div class="copyright-area copyright-area-02 mt-15 text-center pt-20 pb-20">
		<div class="row">
			<div class="col-xl-12">
				<div class="copyright-text">
					<p>Copyright © 2020 <a href="#">BDevs</a> All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</footer>
<!-- footer-area-end





    <!-- JS here -->
<script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.meanmenu.min.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/jquery.scrollUp.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.nice-select.js"></script>
<script src="assets/js/jquery.easypiechart.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script>
	$('#institution_login').hide();

	// 登录类型改变时显示/隐藏相应的表单
	$('#login_type').on('change', function () {
		var loginType = $(this).val();
		if (loginType == 'student') {
			$('#student_login').show();
			$('#institution_login').hide();
		} else if (loginType == 'institution') {
			$('#student_login').hide();
			$('#institution_login').show();
		}
	});

	$("#loginBtn").click(()=>{

		if($("#login_type").val()=="student"){
			let data = {
				StudentAddress:$("#studentAddress").val(),
				Password:$("#password").val()
			}
			$.ajax({
				url: '/studentLogin',
				type: 'POST',
				data: data,
				success: function (data) {
					if(data.login_status=="login_ok"){
						alert("登入成功")
					}else{
						alert("登入失败")
					}

				}
			})
		}else if($("#login_type").val()=="institution"){
			let data = {
				AgencyAddress:$("#institutionAddress").val(),
				Password:$("#password").val()
			}
			$.ajax({
				url: '/agencyLogin',
				type: 'POST',
				data: data,
				success: function (data) {
					if(data.login_status=="login_ok"){
						alert("登入成功")
					}else{
						alert("登入失败")
					}
				}
			})
		}

	})
</script>
</body>

</html>