<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>MiCoach - Online Courses HTML5 Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="./assets/css/index.css">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/metisMenu.css">
	<link rel="stylesheet" href="assets/css/meanmenu.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/verify.css">
	<link rel="stylesheet" href="assets/fonts/icon/iconfont.css">


</head>

<style>
	.align-items-center{
		margin-top: 20px;
	}
</style>


<body>

<!-- header-start -->
<header class="header-transparent header-transparent-02">
	<div id="sticky-header" class="main-menu-area menu-padding pl-55 pr-55">
		<div class="container custom-container">
			<div class="row align-items-center">
				<div class="col-xl-1 col-lg-1 col-md-1 col-1">
					<div class="row logo">
						<div class="col-xl-1 col-lg-1 col-md-1 col-1">
							<img src="assets/image/logo.png">
						</div>

					</div>
				</div>
				<div class="col-xl-3 col-lg-6 col-md-11 col-9" style="margin-top: 9px;">
					<div class="row logo">
						<div class="col-xl-5 col-lg-5 col-md-5 col-5">
							<h2 style="color: aliceblue;">BlockCertify</h2>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</header>

<main>
	<div class="course-cat-area-02 blue-dark-bg pt-130 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 col-lg-10 offset-1 area1" id="fileArea">
					<div class="row" id="faTitle">
						<h2 style="color: #0e1851;">将文件拖入下方虚线框以验证简历</h2>
					</div>
					<div class="row" id="faContent">
						<div class="col-xl-10 col-lg-10 offset-1" id="inFileArea">
							<div class="row" id="imgArea">
								<img src="assets/image/file_icon.png" alt="" style="width: 150px;">
							</div>
							<div class="row">
								<div class="input-group " id="selectFileArea">
									<label class="input-group-btn">
											<span class="btn btn-primary">
												选择文件 <input type="file" style="display: none;" id="selectFile">
											</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row hideBox" id="verifyErr">
						<div class="col-12">
<!--							<div class="row boxCenter" id="errTip">-->
<!--								<span class="iconfont icon-a-buzhoutiaobaocuo" id="baocuo"></span> <span style="line-height: 80px;-->
<!--    font-size: 35px;" id="baocuoContent">您的证书遭到篡改或者无效</span>-->
<!--							</div>-->
<!--							<div class="row fontS" >-->
<!--								<div class="col-4 offset-4">-->
<!--									撤销地址：<span>0xjwnevjnwejinqjineji</span>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="row fontS" >-->
<!--								<div class="col-4 offset-4">-->
<!--									撤销时间：<span>2023-4-27</span>-->
<!--								</div>-->

<!--							</div>-->

							<div class="row" id="errTip">
								<span class="iconfont icon-a-buzhoutiaobaocuo" id="baocuo"></span> <span style="line-height: 80px;
    font-size: 35px;" id="baocuoContent">您的证书遭到篡改或者无效</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>






<!-- brand-area-end -->

<footer class="footer-area pt-65 pb-45" data-background="assets/img/bg/fot-02-bg.png">
	<div class="copyright-area copyright-area-02 mt-15 text-center pt-20 pb-20">
		<div class="row">
			<div class="col-xl-12">
				<div class="copyright-text">
					<p>Copyright © 2020 <a href="#">BDevs</a> All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</footer>
<!-- footer-area-end





    <!-- JS here -->
<script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/jquery.meanmenu.min.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/jquery.scrollUp.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.nice-select.js"></script>
<script src="assets/js/jquery.easypiechart.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script>
	let isClickHandled = false;
	$('#inFileArea,#imgArea,#imgArea img').on("click", function (event) {
		const ce = event.target
		if (ce === this) {
			if (!isClickHandled) {
				isClickHandled = true;
				$("#selectFile").click();
				isClickHandled = false;

			}

		}
	})

	$('#selectFile').on('change', function (e) {
		// 获取选择的文件
		const file = e.target.files[0];

		// 创建FileReader对象
		const reader = new FileReader();

		// 当文件读取完成后执行的回调函数
		reader.onload = function (e) {
			// e.target.result 就是文件内容
			let data =JSON.parse(e.target.result)
			if (data.Transcript!==undefined){
				let courses = data.Transcript.course
				let temCourse = []
				for(let i = 0;i<courses.length;i++){
					if(courses[i].CourseName==undefined){
						temCourse.push({CourseName:"",Score:parseFloat(courses[i].Score)})
					}else{
						temCourse.push(courses[i])
					}

				}
				data.Transcript.course=temCourse
				$.ajax({
					url: '/VerifyTrans',
					type: 'POST',
					data: JSON.stringify(data),
					success: function (data) {
						if (data.verify_result=="verify_ok"){
							window.location.href="/transVerifyOk"
						}else if (data.verify_result=="verify_err"){
							if (data.verify_status==true){
								let content = `<div class="col-12">
\t\t\t\t\t\t\t<div class="row boxCenter" id="errTip">
\t\t\t\t\t\t\t\t<span class="iconfont icon-a-buzhoutiaobaocuo" id="baocuo"></span> <span style="line-height: 80px;
    font-size: 35px;" id="baocuoContent">该证书已被撤销！！！</span>
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t<div class="row fontS" >
\t\t\t\t\t\t\t\t<div class="col-12 offset-3">
\t\t\t\t\t\t\t\t\t撤销地址：<span>${data.block.transactions[0].from}</span>
\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t<div class="row fontS" >
\t\t\t\t\t\t\t\t<div class="col-4 offset-3">
\t\t\t\t\t\t\t\t\t撤销时间：<span>${data.block.timestamp}</span>
\t\t\t\t\t\t\t\t</div>

\t\t\t\t\t\t\t</div>
</div>`

								$("#verifyErr").html(content)
							}
							$("#faContent").addClass("hideBox")
							$("#faTitle").addClass("hideBox")
							$("#verifyErr").removeClass("hideBox")
						}
					},
				})

			}else if (data.Cert!==undefined){
					$.ajax({
						url: '/VerifyCert',
						type: 'POST',
						data: JSON.stringify(data),
						success: function (data) {
							if (data.verify_result=="verify_ok"){
								window.location.href="/certVerifyOk"
							}else if (data.verify_result=="verify_err"){
								if (data.verify_status==true){
									let content = `<div class="col-12">
\t\t\t\t\t\t\t<div class="row boxCenter" id="errTip">
\t\t\t\t\t\t\t\t<span class="iconfont icon-a-buzhoutiaobaocuo" id="baocuo"></span> <span style="line-height: 80px;
    font-size: 35px;" id="baocuoContent">该证书已被撤销！！！</span>
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t<div class="row fontS" >
\t\t\t\t\t\t\t\t<div class="col-12 offset-3">
\t\t\t\t\t\t\t\t\t撤销地址：<span>${data.block.transactions[0].from}</span>
\t\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t</div>
\t\t\t\t\t\t\t<div class="row fontS" >
\t\t\t\t\t\t\t\t<div class="col-4 offset-3">
\t\t\t\t\t\t\t\t\t撤销时间：<span>${data.block.timestamp}</span>
\t\t\t\t\t\t\t\t</div>

\t\t\t\t\t\t\t</div>
</div>`

									$("#verifyErr").html(content)
								}
								console.log(data.verify_status)
								$("#faContent").addClass("hideBox")
								$("#faTitle").addClass("hideBox")
								$("#verifyErr").removeClass("hideBox")
							}
						},
					})
			}

		};

		// 读取文件内容
		reader.readAsText(file);
	});


</script>
</body>

</html>